# Celebrity Death Data (via Wikipedia)

Creating a notebook to produce the dataset found at the [Kaggle Celebrity Deaths Page](https://www.kaggle.com/hugodarwood/celebrity-deaths).

Attempting to replace/supplement the existing dataset since it isn't complete i.e., not up-to-date and has many missing values that should have been included. It also has bad parses for some fields e.g., nationality.

Most importantly, there's no existing notebook that can be run to produce a similar dataset for the most recent version of Wikipedia pages.

Also serves as a self-reference tutorial for regex and MediaWiki API.

### Table of Contents
* [Shared Functions and Variables](#shared_fxns_vars)
  * [Helper Functions](#helper-fxns)
    * [Newly added functions](#new-fxns)


* [Part 1: Batch query Wikipedia for monthly death pages](#part1)
  * [API Batch Scrape](#api-batch-scrape)
    * [Query Wikipedia API](#query-api-1)


* [Part 2: Getting page size, date of birth, date of death, etc.](#part2)
  * [Page Sizes](#get-page-sizes)
    * [Actual API Call](#api-batch-2)
    * [Skip to here if code above already ran](#pt2-skip-resume)
  * [Write out file with additional info](#write-final-df)

In [1]:
import numpy as np
import pandas as pd
import re
import json
import csv
import time
import requests

from os import listdir
from os.path import isfile, join


"""
use for writing out unicode characters w/ csv module
"""
import sys
# reload(sys)
# sys.setdefaultencoding('utf-8')

In [2]:
import requests

# Get a copy of the default headers that requests would use
headers = requests.utils.default_headers()

# Following the Wikipedia/Mediawiki API guidelines
headers.update({'User-Agent': 'Celeb Death Scraper GZ',
                'From': 'geordgez@gmail.com'
               })

# Shared functions and variables <a class='anchor' id='shared_fxns_vars'></a>

Iterators

In [3]:
# batch query limit is 50
year_list = range(2004,2017)
print 'Date range:', min(year_list), '-', max(year_list)

Date range: 2004 - 2016

Other global variables

In [4]:
month_to_num = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

Various information query skeletons for API calls

In [5]:
# base URL for death summaries by month (and year)
mo_yr_url_prefix = 'https://en.wikipedia.org/w/api.php?action=query&titles='
mo_yr_url_suffix = '&prop=revisions&rvprop=content&format=json'

# page sizes for individuals
indiv_url_prefix = 'https://en.wikipedia.org/w/api.php?action=query&titles='
indiv_url_suffix = '&prop=revisions&rvprop=size&format=json'

# dates of birth and death for individuals
base_bday_prefix = 'https://en.wikipedia.org/w/api.php?action=query&titles='
base_bday_suffix = '&prop=revisions&rvprop=content&rvsection=0&format=json'

### Helper functions <a class='anchor' id='helper-fxns'></a>

Functions from previous version (master branch) that ran individual queries (instead of batch queries) in serial.

In [31]:
# Find wikitext links and convert them to the displayed text
link_re = re.compile('\[\[([^\|\]]*)(?=\||\]\])', re.DOTALL)
link_all_re = re.compile('(\[\[(?:[^\[\]])+\]\])')

def extract_link_text(link_block):
    link_present = link_re.search(link_block)
    if link_present:
        return link_present.groups()
    return link_block

# essentially does the same thing as extract_link_text
def get_wiki_url(name_text):
    return re.sub('\[\]',name_text.split('|')[0])

# Helper function for removing link text when using re.sub--identifies a wikitext URL
def link_only(matchobj):
    cleaned_text = extract_link_text(matchobj.groups()[0])[0]
    return cleaned_text

# Substitute all wikitext URL links with the display text for the URL
def remove_link_text(text_block):
    return re.sub(link_all_re, link_only, text_block)

In [7]:
# extract nationality
natl_pattern1 = re.compile('\s?((?:[A-Z][^\s]+ ?)+) ', re.UNICODE)

# keep a record of entries that didn't match to this nationality regex
natl_unmatched_list = []

def get_nationality_text(desc_text):
    natl_match = natl_pattern1.match(desc_text.strip('['))
    if natl_match:
        return natl_match.groups()[0]
    natl_unmatched_list.append(desc_text)
    return desc_text

# remove leading spaces and trailing period
def clean_trim(text):
    return re.sub('(^\s*)|([\.\s]*$)', '', text)

#### Newly added functions <a class='anchor' id='new-fxns'></a>

New functions in this branch/notebook:

In [8]:
# Convert Wikipedia 'Deaths in (str: month) (int: year)' titles into '(int: month)_(int: year)'
date_eol_re = re.compile('([A-Z][a-z]+) (\d{4})$')

def month_str2key(month_str):
    date_eol = re.search(date_eol_re, month_str)
    if date_eol:
        month, year_num = date_eol.groups()
        return year_num + '_' + str(month_to_num[month])
    return month_str

# Remove URLs from a text block
no_url_re = re.compile('(\[?https?:\/\/.*[\r\n]*$)|(\<ref\>)', re.MULTILINE)

def remove_urls(text):
    return no_url_re.sub('', text)

In [9]:
assert(month_str2key('asdfasdf asdf asdf December 2013') == '2013_12')

Additional function for easily batch scraping in the future:

In [10]:
# Collect a list of individual query terms and group them into batch API queries
def get_batch_queries(term_list, prefix_url, suffix_url, max_qlim = 48):
    num_elems = len(term_list)
    num_batches = num_elems / max_qlim
    
    batch_queries = []
    
    for i in xrange(0, num_batches):
        start_idx = i * max_qlim
        end_idx = start_idx + max_qlim
        query_str = prefix_url + "|".join(term_list[start_idx:end_idx]) + suffix_url
        batch_queries.append(query_str)
        
    batch_queries.append(prefix_url + "|".join(term_list[end_idx:num_elems]) + suffix_url)
    
    return batch_queries

Function to process a row string into a row list of attributes.

*Note:* Causes of death almost always don't end in parentheses and if there are parentheses at the end of an entry row they are usually associated with the description and not the cause of death.

In [34]:
# converts string into list of info fields
name_age_re = re.compile('(.*), (\d+)[\.,]? ?(.*)?$')

def split_info(entry_text):
    has_name_and_age = name_age_re.match(entry_text)
    
    if not has_name_and_age:
        return
    row_entries = list(has_name_and_age.groups()) + ['']
    
    if (len(row_entries) > 2 and row_entries[2] and 
        row_entries[2][-1] != ')'):
        desc_parts = row_entries[2].split(',')
        
        if len(desc_parts) > 1:
            row_entries[3] = desc_parts[-1].lstrip()
    
    return row_entries

In [49]:
# cleans and converts string into list of fields
def unpack_info(row_text):
    return split_info(clean_trim(remove_link_text(remove_urls(row_text))))

# Part I: Batch query Wikipedia for monthly death pages <a class='anchor' id='part1'></a>

### API Batch Scrape <a class='anchor' id='api-batch-scrape'></a>

Batch scrapes to avoid API call limits and throttling. Also makes queries faster.

#### List of monthly death pages to be queried

Create individual search terms for API query:

In [12]:
death_rep_words = 'Deaths_in_'
mo_yr_elems = [death_rep_words + month + '_' + str(year) 
              for month in month_to_num.keys()
              for year in year_list]

mo_yr_elems.append('Deaths_in_January_2017')

mo_yr_batch_queries = get_batch_queries(mo_yr_elems, mo_yr_url_prefix, mo_yr_url_suffix)

#### Query Wikipedia API <a class='anchor' id='query-api-1'></a>

Batch queries to Wikipedia API stored as a list of query results.

In [13]:
%%time 
# time won't show in unicode; takes 5-15 seconds

# query API
mo_yr_batch_results = [requests.get(query, headers=headers).json() 
                       for query in mo_yr_batch_queries]

CPU times: user 773 ms, sys: 142 ms, total: 915 ms
Wall time: 9.31 s

Unpack initial query results

In [53]:
q_contents = [[page_result['title'], 
               page_result['revisions'][0]['*']] 
              for result in mo_yr_batch_results
              for page_result in result['query']['pages'].values()]

Unpacking query results into dictionary of lists of summaries by month and tag month and year data to each entry. *Note:* Remember to encode in UTF-8!

In [54]:
%%time
q_contents_dict = {}

for q_page in q_contents:
    q_key = month_str2key(q_page[0])
    mo_yr_info = q_key.split('_')
    
    q_list = [unpack_info(entry) for entry in q_page[1].encode('utf-8').split('*')]
    q_contents_dict[q_key] = [mo_yr_info + entry for entry in q_list if entry]

CPU times: user 2.37 s, sys: 329 ms, total: 2.7 s
Wall time: 2.84 s

Flatten dictionary of lists into a single large list of entries

In [55]:
all_entries = [entry for entry_list in q_contents_dict.values() for entry in entry_list]
df_full = pd.DataFrame(all_entries)
df_full.columns = ['year', 'month', 'name', 'age', 'desc', 'cause_of_death']
df_full['nationality'] = df_full.desc.map(get_nationality_text)

In [56]:
print df_full.shape
df_full.head()

(50826, 7)

,year,month,name,age,desc,cause_of_death,nationality
0,2013,9,Zvonko Bušić,67,"Croatian airplane hijacker (TWA Flight 355), s...",suicide by gunshot,Croatian
1,2013,9,Joaquim Justino Carreira,63,Portuguese-born Brazilian Roman Catholic prela...,,Portuguese-born Brazilian Roman Catholic
2,2013,9,Pál Csernai,80,Hungarian footballer and manager (FC Bayern Mu...,,Hungarian
3,2013,9,Ignacio Eizaguirre,92,"Spanish footballer (Valencia CF, Real Sociedad...",,Spanish
4,2013,9,Ole Ernst,73,Danish actor,,Danish

A small number (<50) entries end up having multiple hits in the queries but this isn't a major concern.

In [57]:
df_full.name.value_counts()[df_full.name.value_counts() > 1]

Victoria de los Ángeles       2
Sonny Fai                     2
Gyda Hansen                   2
William Earl Reid             2
Austin Cooper (lawyer)        2
Abraham Bueno de Mesquita     2
Francis Ray                   2
Arnold Meri                   2
Charles Newman (author)       2
Quorthon                      2
Carlos González Nova          2
Rita Ridley                   2
Joseph and Melissa Batten     2
Robert O. Smith               2
Miguel Galván                 2
Belita                        2
Johnny Byrne (writer)         2
John McIntyre (theologian)    2
Doreen Blumhardt              2
Hans Joachim Alpers           2
Hager Twins                   2
dtype: int64

#### Write out file

Save progress on current scrape before moving on to Part II.

In [58]:
df_full.to_csv('../out/celeb_deaths_wikipedia_full_1.csv', index=False)

Checking out the number queries when iterating through person/name/entry. Store all names into a blank csv for future use in querying particular page sizes, dates of birth, dates of death, etc.

In [60]:
all_names = df_full.name.map(lambda name: name.replace(' ','_'))
all_names.to_csv('../out/names_fame_birth_death_1_blank.csv')
print all_names.shape

(50826,)

# Part II: Getting page size, date of birth, date of death, etc. <a class='anchor' id='part2'></a>

***Checkpoint:*** read initial batch scrape of monthly death pages

In [61]:
df_full = pd.read_csv('../out/celeb_deaths_wikipedia_full_1.csv')
df_full.head()

,year,month,name,age,desc,cause_of_death,nationality
0,2013,9,Zvonko Bušić,67,"Croatian airplane hijacker (TWA Flight 355), s...",suicide by gunshot,Croatian
1,2013,9,Joaquim Justino Carreira,63,Portuguese-born Brazilian Roman Catholic prela...,NaN,Portuguese-born Brazilian Roman Catholic
2,2013,9,Pál Csernai,80,Hungarian footballer and manager (FC Bayern Mu...,NaN,Hungarian
3,2013,9,Ignacio Eizaguirre,92,"Spanish footballer (Valencia CF, Real Sociedad...",NaN,Spanish
4,2013,9,Ole Ernst,73,Danish actor,NaN,Danish

### Page sizes <a class='anchor' id='get-page-sizes'></a>

**Note:** Some code blocks here assume that you already ran through the whole notebook before. If the notebook hasn't been run before, you might need to replace the  '../out/names_fame_birth_death_1.csv' file names with '../out/names_fame_birth_death_1_blank.csv' instead.

#### Querying for page size info

Find remaining entries with missing page sizes. 

*Code below might throw errors. Just edit the input file appropriately.* 

Note that this assumes you already have an existing sheet partially populated with information for some entries. If not, modify the first line in the cell below to read the blank names file produced in the previous section instead.

In [67]:
names_info_current = pd.read_csv('../out/names_fame_birth_death_1.csv')
names_wo_pg_size = names_info_current[names_info_current.page_size.isnull()]
batch_names_q = get_batch_queries(list(names_wo_pg_size.name.values), indiv_url_prefix, indiv_url_suffix)
len(batch_names_q)

136

#### Skip this section: Actual API call [only need to run once] <a class='anchor' id='api-batch-2'></a>

Query Wikipedia for page sizes. No need to run this section again if it's already been run once.

For 136 queries (x48 terms/query ~= 6500 queries), takes about 4min 30sec (270 seconds).

In [359]:
%%time
counter = 0

# query API
name_batch_results = []

for batch in batch_names_q:
    ret_val = requests.get(batch, headers=headers)
    try:
        json_ret_val = ret_val.json()
        name_batch_results.append(json_ret_val)
    except ValueError:
        continue
    
    # max rate etiquette: 1 query/second
    time.sleep(1)
    
    print counter, "-",
    counter += 1

print ""

0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11 - 12 - 13 - 14 - 15 - 16 - 17 - 18 - 19 - 20 - 21 - 22 - 23 - 24 - 25 - 26 - 27 - 28 - 29 - 30 - 31 - 32 - 33 - 34 - 35 - 36 - 37 - 38 - 39 - 40 - 41 - 42 - 43 - 44 - 45 - 46 - 47 - 48 - 49 - 50 - 51 - 52 - 53 - 54 - 55 - 56 - 57 - 58 - 59 - 60 - 61 - 62 - 63 - 64 - 65 - 66 - 67 - 68 - 69 - 70 - 71 - 72 - 73 - 74 - 75 - 76 - 77 - 78 - 79 - 80 - 81 - 82 - 83 - 84 - 85 - 86 - 87 - 88 - 89 - 90 - 91 - 92 - 93 - 94 - 95 - 96 - 97 - 98 - 99 - 100 - 101 - 102 - 103 - 104 - 105 - 106 - 107 - 108 - 109 - 110 - 111 - 112 - 113 - 114 - 115 - 116 - 117 - 118 - 119 - 120 - 121 - 122 - 123 - 124 - 125 - 126 - 127 - 128 -CPU times: user 4.24 s, sys: 311 ms, total: 4.55 s
Wall time: 4min 22s

Unpack results from batch queries of page sizes

In [368]:
names_q_contents = []

for result in name_batch_results:
    for page_result in result['query']['pages'].values():
        if 'revisions' in page_result.keys():
            size_info = page_result['revisions']
            new_contents = [page_result['title'], page_result['revisions'][0]['size']]
            names_q_contents.append(new_contents)

In [369]:
len(names_q_contents)

5952

Save new page sizes obtained for the remaining set of names that didn't have page sizes:

In [375]:
with open('../out/names_fame_birth_death_1_rem.csv', 'wb') as remaining_outfile:
    csv_rem_writer = csv.writer(remaining_outfile, delimiter=',')
    for row in names_q_contents:
        csv_rem_writer.writerow(row)
    remaining_outfile.close()

#### Skip to here if code above already ran <a class='anchor' id='pt2-skip-resume'></a>

Merge in old page sizes with new page sizes:

In [68]:
df_names_page_rem = pd.read_csv('../out/names_fame_birth_death_1_rem.csv',
                               names = ['name','page_size'],
                               index_col = 'name')
df_names_page_rem.reset_index(inplace=True)

In [70]:
print df_names_page_rem.shape
df_names_page_rem.head()

(5952, 2)

                          name  page_size
0                  Ernst Benda       5070
1  Rob Williams (entrepreneur)         44
2         João Bernardo Vieira      23245
3                    Urban Sea       8704
4                Jack Schwartz         31

Fill in any entries for which additional information was found into the table of names, page sizes, dates of birth, and dates of death.

In [71]:
names_info_current[names_info_current.page_size.isnull()] = df_names_page_rem
print names_info_current[names_info_current.page_size.isnull()].shape

(5279, 4)

### Write out file with additional information <a class='anchor' id='write-final-df'></a>

In [72]:
df_full = df_full.merge(names_info_current, how='left')
print df_full.shape
df_full.head()

(51495, 10)

,year,month,name,age,desc,cause_of_death,nationality,page_size,date_of_birth,date_of_death
0,2013,9,Zvonko Bušić,67,"Croatian airplane hijacker (TWA Flight 355), s...",suicide by gunshot,Croatian,NaN,NaN,NaN
1,2013,9,Joaquim Justino Carreira,63,Portuguese-born Brazilian Roman Catholic prela...,NaN,Portuguese-born Brazilian Roman Catholic,NaN,NaN,NaN
2,2013,9,Pál Csernai,80,Hungarian footballer and manager (FC Bayern Mu...,NaN,Hungarian,NaN,NaN,NaN
3,2013,9,Ignacio Eizaguirre,92,"Spanish footballer (Valencia CF, Real Sociedad...",NaN,Spanish,NaN,NaN,NaN
4,2013,9,Ole Ernst,73,Danish actor,NaN,Danish,NaN,NaN,NaN

#### Write out file with additional info added

Some data quality and sanity checks:

In [73]:
print "Total:                ", len(df_full.name.value_counts())
print "Missing page size:    ", len(df_full[df_full.page_size.isnull()])
print "Missing date of birth:", len(df_full[df_full.date_of_birth.isnull()])
print "Missing date of death:", len(df_full[df_full.date_of_death.isnull()])

Total:                 50805
Missing page size:     6740
Missing date of birth: 28525
Missing date of death: 26676

Actually writing out the file:

In [74]:
df_full.to_csv('../out/celeb_deaths_plus_1.csv', index=False)