### Using Existing Datasets

In [1]:
%matplotlib inline

In [2]:
import string

import numpy as np
import pandas as pd
import nltk

from functools import reduce
from collections import Counter

Files were obtained from [Kaggle](https://www.kaggle.com/hugodarwood/celebrity-deaths) and journalist DH Montgomery's [GitHub](https://github.com/dhmontgomery/personal-work/tree/master/wikipedia-deaths). DH Montgomery's article can be [found here](http://dhmontgomery.com/2016/12/wikipediadeaths/).

Initial file read and check.

In [3]:
df_mont = pd.read_csv('../data/montgomery_dh_1.csv')
df_wiki = pd.read_csv('../data/wikipedia_celebrity_deaths_4.csv')

In [4]:
print df_mont.shape
print df_wiki.shape

(158512, 4)
(21458, 9)

### Kaggle dataset from Wikpedia

In [5]:
df_wiki.head()

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
0,85,1921,natural causes,January,2006,businessman chairman of IBM (1973���1981),Frank Cary,American,1
1,49,1957,murdered,January,2006,musician (House of Freaks Gutterball),Bryan Harvey,American,2
2,64,1942,Alzheimer's disease,January,2006,baseball player (Oakland Athletics),Paul Lindblad,American,1
3,86,1920,Alzheimer's disease,January,2006,politician Representative from Oregon (1957��...,Charles O. Porter,American,2
4,82,1924,cancer,January,2006,nightclub owner (Tropicana Club),Ofelia Fox,Cuban,NaN

### Initial Cleaning

#### Nationality Field

In [6]:
df_wiki['nationality'] = df_wiki.nationality.map(lambda text: text.replace("-born", ""))

In [7]:
keyword = "parliament"
df_wiki[df_wiki.famous_for.map(lambda text: keyword in str(text))]

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
882,62,1945,cancer,August,2007,member of parliament,Bahaedin Adab,Iranian,2
6521,59,1952,NaN,April,2011,parliamentary leader of One Nation (2001���2004),Bill Flynn,Australian,2
8287,88,1924,NaN,February,2012,member of parliament (1973���1977),Reidar T. Larsen,Norwegian,3
13458,79,1935,stroke,April,2014,politician Senator for Tasmania (1975���2005)...,Brian Harradine,Australian,14

#### Months to Numerical

In [8]:
month_to_num = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

In [9]:
df_wiki['death_month'] = df_wiki.death_month.map(lambda text: month_to_num[text])

In [10]:
df_wiki['death_month'].value_counts()

1     2063
12    1902
4     1832
10    1819
3     1819
11    1781
7     1756
8     1729
6     1728
5     1718
2     1683
9     1628
dtype: int64

# Feature exploration to find potential features for cleaning

### Finding keywords in famous_for descriptions:

In [11]:
keyword = "born"
df_wiki[df_wiki.nationality.map(lambda text: keyword in str(text))]

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
10201,64,1949,NaN,1,2013,Australian singer (The Marbles),Trevor Gordon,British���born,7

This is more efficient:

In [12]:
all_text_string = ""
word_counter = {}
df_wiki['fame_text'] = df_wiki.famous_for.map(
    lambda text: " ".join([w.translate(None, string.punctuation) for w in str(text).split(" ")]))

for idx, row in df_wiki.iterrows():
    all_text_string += row['fame_text']

In [13]:
def get_word_counts(text_block):
    word_list = nltk.word_tokenize(text_block)
    word_counts = {}
    for word in word_list:
        if word in word_counts.keys():
            word_counts[word] += 1
        else:
            word_counts[word] = 1
    print "Number of words:", len(word_counts)
    return word_counts

In [14]:
%%time
word_counter = get_word_counts(all_text_string)

Number of words: 16526
CPU times: user 51.3 s, sys: 565 ms, total: 51.8 s
Wall time: 52.6 s

In [15]:
word_count_table = pd.DataFrame.from_dict(word_counter, orient='index')
word_count_table.reset_index(inplace=True)
word_count_table.columns = ['word', 'count']

In [16]:
word_count_table['part_of_speech'] = word_count_table.word.map(
    lambda word: nltk.pos_tag([word])[0][1])

In [17]:
noun_type_list = ["NN", "NP"]
word_count_table[word_count_table.part_of_speech.map(
        lambda e: e in noun_type_list)].sort('count', ascending=False).head(300)

              word  count part_of_speech
702         player   2649             NN
10984   politician   1788             NN
965          actor   1551             NN
7978    footballer   1243             NN
13385     football   1221             NN
16217       member   1216             NN
15032      Olympic   1147             NN
14201      actress    881             NN
13530     baseball    776             NN
5067        Bishop    770             NN
14163     director    533             NN
10220         film    504             NN
1135            MP    502             NN
13412        coach    497             NN
495         singer    487             NN
5545    television    403             NN
402     basketball    400             NN
2572        writer    391             NN
3345      producer    374             NN
15583        State    363             NN
10774     Governor    324             NN
12195   journalist    324             NN
1072          team    322             NN
15682     musician    317             NN
1530        hockey    310             NN
2735      champion    309             NN
14142       author    294             NN
13243          ice    273             NN
12141    executive    249             NN
9748      medalist    246             NN
...            ...    ...            ...
981      Melbourne     28             NN
3023           MEP     28             NN
1612        jumper     27             NN
12272       female     27             NN
2370          Zone     27             NN
9721       theatre     27             NN
14494       Alaska     27             NN
347          Super     27             NN
14073         polo     27             NN
10087          Men     27             NN
9751          show     26             NN
5378            RB     26             NN
8704    ambassador     26             NN
4186         Queen     26             NN
2726    Queensland     26             NN
4926        School     26             NN
10258         Year     26             NN
11337        Saint     26             NN
13579    conductor     26             NN
13581        Opera     26             NN
11150  commentator     26             NN
10264      founder     25             NN
4352    production     25             NN
14897         Road     25             NN
14063          pop     25             NN
1426      inventor     25             NN
96        reporter     25             NN
11292        Medal     25             NN
15065       Oregon     25             NN
3951   documentary     25             NN

[300 rows x 3 columns]

Notes:
- "MP" (more frequently used) stands for "member of parlianemt" (less frequently used)

### Nationality mapping

Using list compiled from [here](https://github.com/Dinu/country-nationality-list/blob/master/countries.csv) which in turn grabs from [Wikipedia's page](https://en.wikipedia.org/wiki/List_of_adjectival_and_demonymic_forms_for_countries_and_nations) for adjectival and demonymic forms for countries and nations.

In [18]:
natl_mapping = pd.read_csv('../data/countries.csv')
print natl_mapping.shape
natl_mapping.head()

(249, 5)

   num_code alpha_2_code alpha_3_code   en_short_name      nationality
0         4           AF          AFG     Afghanistan           Afghan
1       248           AX          ALA   Åland Islands     Åland Island
2         8           AL          ALB         Albania         Albanian
3        12           DZ          DZA         Algeria         Algerian
4        16           AS          ASM  American Samoa  American Samoan

In [19]:
text_filter = (lambda text: " or " in text)
idx_with_text = natl_mapping.nationality.map(text_filter)
natl_mapping[idx_with_text]['nationality_text_list'] = \
   natl_mapping[idx_with_text].nationality.map(lambda text: text.replace(" or ", ", "))

/Users/George/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

List of nationalities:

In [20]:
"""
Run once
"""
natl_mapping.nationality = \
    natl_mapping.nationality.map(lambda text: text.replace(" or ", ", ").split(", "))

In [21]:
nationality_list = [label 
                    for label_list in natl_mapping.nationality.values 
                    for label in label_list]
Counter(nationality_list)
# Chinese, American, Dominican, Congolese, Channel Island

Counter({'Chinese': 3, 'American': 2, 'Dominican': 2, 'Congolese': 2, 'Channel Island': 2, 'Cook Island': 1, 'South Sudanese': 1, 'Zimbabwean': 1, 'Salvadoran': 1, 'Panamanian': 1, 'Serbian': 1, 'Chadian': 1, 'Grenadian': 1, 'Palauan': 1, 'Kittitian': 1, 'Malinese': 1, 'Saint Helenian': 1, 'Saint-Martinoise': 1, 'Central African': 1, 'Kyrgyz': 1, 'Aruban': 1, 'Kenyan': 1, 'New Zealand': 1, 'Argentine': 1, 'Belgian': 1, 'Bulgarian': 1, 'Azeri': 1, 'UK': 1, 'Timorese': 1, 'Polish': 1, 'Herzegovinian': 1, 'Seychellois': 1, 'French': 1, 'Peruvian': 1, 'Fijian': 1, 'Liberian': 1, 'Armenian': 1, 'Guyanese': 1, 'Monacan': 1, 'Qatari': 1, 'Haitian': 1, 'Vincentian': 1, 'Samoan': 1, 'Mauritanian': 1, 'Finnish': 1, 'Canadian': 1, 'Manx': 1, 'Albanian': 1, 'Omani': 1, 'Comoran': 1, 'Romanian': 1, 'Maltese': 1, 'Andorran': 1, 'Bahraini': 1, 'Martinican': 1, 'Vatican': 1, 'Wallis and Futuna': 1, 'Kirgiz': 1, 'NZ': 1, 'Emirian': 1, 'Italian': 1, 'Malian': 1, 'Ivorian': 1, 'Norfolk Island': 1, 'Saudi Arabian': 1, 'U.S. Virgin Island': 1, 'Zambian': 1, 'Moroccan': 1, 'Pitcairn Island': 1, 'German': 1, 'Burundian': 1, 'Puerto Rican': 1, 'Moldovan': 1, 'Nepalese': 1, 'Senegalese': 1, 'Falkland Island': 1, 'Beninese': 1, 'Kirghiz': 1, 'Gabonese': 1, 'Guatemalan': 1, 'Caymanian': 1, 'Guambat': 1, 'Kuwaiti': 1, 'Guinean': 1, 'Turks and Caicos Island': 1, 'Slovenian': 1, 'Rwandan': 1, 'Azerbaijani': 1, 'Faroese': 1, 'Bruneian': 1, 'Nauruan': 1, 'Bahamian': 1, 'Indonesian': 1, 'Beninois': 1, 'Saudi': 1, 'Svalbard': 1, 'Georgian': 1, 'Comorian': 1, 'Yemeni': 1, 'Wallisian': 1, 'Costa Rican': 1, 'Norwegian': 1, 'Laotian': 1, 'Eritrean': 1, 'Anguillan': 1, 'Malawian': 1, 'Slovak': 1, 'Thai': 1, 'Montserratian': 1, 'Ghanaian': 1, 'Kazakhstani': 1, 'Chilean': 1, 'Cuban': 1, 'Slovene': 1, 'Papua New Guinean': 1, 'Uzbek': 1, 'Namibian': 1, 'Sri Lankan': 1, 'McDonald Islands': 1, 'Ukrainian': 1, 'Greek': 1, 'Liechtenstein': 1, 'Jamaican': 1, 'British': 1, 'Latvian': 1, 'Austrian': 1, 'Bermudan': 1, 'Croatian': 1, 'Somali': 1, 'Cura\xc3\xa7aoan': 1, 'Singaporean': 1, 'French Southern Territories': 1, 'Bissau-Guinean': 1, 'Nigerian': 1, 'Ethiopian': 1, 'Burmese': 1, 'Tongan': 1, 'Ecuadorian': 1, 'Jordanian': 1, 'Swedish': 1, 'R\xc3\xa9unionnais': 1, 'Surinamese': 1, 'Antarctic': 1, 'S\xc3\xa3o Tom\xc3\xa9an': 1, 'Marshallese': 1, 'Icelandic': 1, 'Sahrawian': 1, 'French Guianese': 1, 'Palestinian': 1, 'Somalian': 1, 'Djiboutian': 1, 'Niuean': 1, 'Papuan': 1, 'Magyar': 1, 'Luxembourg': 1, 'Bangladeshi': 1, 'Iraqi': 1, 'Indian': 1, 'Gibraltar': 1, 'Brazilian': 1, 'Sahraouian': 1, 'Netherlandic': 1, 'Pakistani': 1, 'Emiri': 1, 'Equatorial Guinean': 1, 'Malagasy': 1, 'New Caledonian': 1, 'Tanzanian': 1, 'Belizean': 1, 'French Polynesian': 1, 'Cocos Island': 1, 'Luxembourgish': 1, 'Bosnian': 1, 'Lithuanian': 1, 'Greenlandic': 1, 'Saint Vincentian': 1, 'Barbudan': 1, 'Bolivian': 1, 'North Korean': 1, 'BIOT': 1, 'Paraguayan': 1, 'Bermudian': 1, 'Kyrgyzstani': 1, 'Afghan': 1, 'Hong Kong': 1, 'Maldivian': 1, 'Barth\xc3\xa9lemois': 1, 'American Samoan': 1, 'Uzbekistani': 1, 'Malaysian': 1, 'Tuvaluan': 1, 'Angolan': 1, 'Macanese': 1, 'Northern Marianan': 1, 'Antiguan': 1, 'Ni-Vanuatu': 1, 'Sammarinese': 1, 'Libyan': 1, 'Irish': 1, 'Bonaire': 1, 'Uruguayan': 1, 'Cypriot': 1, 'Czech': 1, 'Kazakh': 1, 'Mon\xc3\xa9gasque': 1, 'Taiwanese': 1, 'Belarusian': 1, 'Heard Island': 1, 'Macedonian': 1, 'Cabo Verdean': 1, 'Persian': 1, 'Mongolian': 1, 'South Georgia': 1, 'Tajikistani': 1, 'Botswanan': 1, 'Mozambican': 1, 'Guamanian': 1, 'Israeli': 1, 'Tunisian': 1, 'Montenegrin': 1, 'Vietnamese': 1, 'Philippine': 1, 'Miquelonnais': 1, 'Sahrawi': 1, 'Nigerien': 1, 'I-Kiribati': 1, 'Dutch': 1, 'Russian': 1, 'Australian': 1, 'Venezuelan': 1, 'Colombian': 1, 'Nepali': 1, 'Saint Lucian': 1, '\xc3\x85land Island': 1, 'Filipino': 1, 'South Sandwich Islands': 1, 'Egyptian': 1, 'Mauritian': 1, 'Trinidadian': 1, 'Iranian': 1, 'Sudanese': 1, 'Equatoguinean': 1, 'Hellenic': 1, 'Turkmen': 1, 'R\xc3\xa9unionese': 1, 'Syrian': 1, 'Bhutanese': 1, 'Emirati': 1, 'Nevisian': 1, 'Hong Kongese': 1, 'Mahoran': 1, 'Lebanese': 1, 'Hungarian': 1, 'Gambian': 1, 'Algerian': 1, 'Danish': 1, 'Basotho': 1, 'Estonian': 1, 'Turkish': 1, 'Barbadian': 1, 'Lao': 1, 'Vanuatuan': 1, 'Martiniquais': 1, 'Swiss': 1, 'Ugandan': 1, 'Guadeloupe': 1, 'Sint Maarten': 1, 'Saint-Pierrais': 1, 'Portuguese': 1, 'South African': 1, 'Mexican': 1, 'Futunan': 1, 'Bouvet Island': 1, 'Motswana': 1, 'Micronesian': 1, 'Tokelauan': 1, 'Burkinab\xc3\xa9': 1, 'Japanese': 1, 'British Virgin Island': 1, 'South Korean': 1, 'Solomon Island': 1, 'Christmas Island': 1, 'Togolese': 1, 'Cambodian': 1, 'Sierra Leonean': 1, 'Spanish': 1, 'Honduran': 1, 'Tobagonian': 1, 'Nicaraguan': 1, 'Swazi': 1, 'Cameroonian': 1})

In [22]:
natl_mapping.head()

   num_code alpha_2_code alpha_3_code   en_short_name        nationality
0         4           AF          AFG     Afghanistan           [Afghan]
1       248           AX          ALA   Åland Islands     [Åland Island]
2         8           AL          ALB         Albania         [Albanian]
3        12           DZ          DZA         Algeria         [Algerian]
4        16           AS          ASM  American Samoa  [American Samoan]

In [23]:
nationality_map_dict = {}
for idx, row, in natl_mapping.iterrows():
    for label in row['nationality']:
        row_info_entry = [row['num_code'], row['alpha_2_code'],
                          row['alpha_3_code'], row['en_short_name']]
        if label in nationality_map_dict.keys():
            nationality_map_dict[label].append(row_info_entry)
        else:
            nationality_map_dict[label] = [row_info_entry]

In [24]:
nationality_map_dict['British']

[[826, 'GB', 'GBR', 'United Kingdom of Great Britain and Northern Ireland']]

### Nationalities from Kaggle Wikipedia page scrapes

Checking for those with nationalities matched and not matched:

In [25]:
print len(df_wiki[df_wiki.nationality.map(lambda text: text in nationality_list)])
print len(df_wiki[df_wiki.nationality.map(lambda text: text not in nationality_list)])

19515
1943

In [26]:
df_wiki[df_wiki.nationality.map(lambda text: text not in nationality_list)].nationality.value_counts()

English                 628
Scottish                237
New                     183
South                   136
Welsh                    86
Northern                 43
Soviet                   34
Sri                      34
Puerto                   34
dies                     28
Hong                     22
football                 21
Argentinian              17
2012                     12
Solomon                  12
Costa                    12
North                    11
Luxembourgian            10
Saint                     9
Papua                     9
Dies                      9
Cook                      8
East                      7
Burkinab̩                 7
Painter                   7
United                    7
dead                      6
Yugoslav                  6
politician                6
former                    6
                       ...
sailor\rCamille           1
humanitarian              1
Indiana"                  1
Ceramic                   1
Abstract                  1
created                   1
Founder                   1
First                     1
German-foaled             1
Welsh-American            1
Longtime                  1
Sandinista                1
Swedish-American          1
Korean                    1
American-British          1
Canadien                  1
Philippines               1
Liechtensteinian          1
Trinbagonian              1
Bosnia-Herzegovinian      1
American-Lebanese         1
British-Egyptian          1
Singer                    1
Probate                   1
Queensland                1
Environmental             1
Mon̩gasque                1
Irish-American            1
swimmer                   1
Austrian-Swiss            1
dtype: int64

The dataset from Kaggle has some serious issues due to missed delimiters and/or bad parsing. For instance, a New-Zealand nationality clearly throws off the nationality and famous_for columns. Whatever parsing method was used was not particularly robust at separating fields or did not fully utilize Wikipedia HTML tags/metadata.

In [27]:
df_wiki[(df_wiki.famous_for.map(lambda x: "Zealand" in str(x)))]

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score,fame_text
522,76,1931,kidney failure,2,2007,Zealand-born American politician and Lieutena...,Leo T. McCarthy,New,5,Zealandborn American politician and Lieutenan...
676,43,1964,cancer,5,2007,Zealand film director (In My Father's Den),Brad McGann,New,5,Zealand film director In My Fathers Den
895,68,1939,lung disease,8,2007,Zealand politician mayor of Wanganui (1986���...,Chas Poynter,New,8,Zealand politician mayor of Wanganui 1986���2004
917,92,1915,NaN,8,2007,Zealand industrialist (Fletcher Challenge),Sir James Fletcher,New,4,Zealand industrialist Fletcher Challenge
1156,67,1940,cancer,12,2007,Zealand public servant Chief Ombudsman (2003�...,John Belgrave,New,6,Zealand public servant Chief Ombudsman 2003��...
1285,88,1920,heart failure,1,2008,Zealand mountaineer and the first person (wit...,Sir Edmund Hillary,New,117,Zealand mountaineer and the first person with...
1521,91,1917,NaN,3,2008,Zealand cricket captain (1952���1953),Merv Wallace,New,10,Zealand cricket captain 1952���1953
1565,68,1940,NaN,4,2008,Zealand rugby union player (All Blacks),Tony Davies,New,2,Zealand rugby union player All Blacks
1597,78,1930,after long illness,4,2008,Zealand district judge (1975���1990),Augusta Wallace,New,7,Zealand district judge 1975���1990
1758,82,1926,stroke,6,2008,Zealand Mayor of Auckland (1980���1983),Colin Kay,New,8,Zealand Mayor of Auckland 1980���1983
1788,93,1915,NaN,6,2008,ambassador to New Zealand (1979���1981),Anne Clark Martindell,American,7,ambassador to New Zealand 1979���1981
2414,20,1989,missing presumed drowned,1,2009,Zealand rugby league player (New Zealand Warr...,Sonny Fai,New,9,Zealand rugby league player New Zealand Warriors
2969,93,1916,NaN,6,2009,United States Ambassador to New Zealand (1967...,John F. Henning,American,7,United States Ambassador to New Zealand 1967�...
3029,79,1930,heart attack,6,2009,Zealand academic (University of the South Pac...,Ron Crocombe,New,4,Zealand academic University of the South Pacific
3283,89,1920,NaN,8,2009,Zealand rugby union player (Waikato Auckland ...,Percy Tetzlaff,New,1,Zealand rugby union player Waikato Auckland n...
3477,71,1938,NaN,10,2009,Zealand actor (The Lord of the Rings: The Fel...,Martyn Sanderson,New,4,Zealand actor The Lord of the Rings The Fello...
3613,62,1947,after short illness,11,2009,Zealand ambassador and diplomat High Commissi...,Tia Barrett,New,2,Zealand ambassador and diplomat High Commissi...
3836,60,1949,injuries sustained in a jetboat accident,12,2009,Zealand rugby union player (Otago national team),Paul Sapsford,New,3,Zealand rugby union player Otago national team
4028,40,1970,after short illness,1,2010,Zealand musician (OMC),Pauly Fuemana,New,9,Zealand musician OMC
4328,58,1952,colorectal cancer,3,2010,Zealand photojournalist (CNN),Margaret Moth,New,6,Zealand photojournalist CNN
5013,51,1959,brain tumour,7,2010,Zealand actress (Power Rangers Mystic Force),Peta Rutter,New,1,Zealand actress Power Rangers Mystic Force
5419,53,1957,NaN,10,2010,Zealand musician (Th' Dudes) and record producer,Ian Morris,New,7,Zealand musician Th Dudes and record producer
6142,68,1943,cancer,2,2011,Zealand actor (Outrageous Fortune),Frank Whitten,New,7,Zealand actor Outrageous Fortune
7138,78,1933,cancer,8,2011,Zealand Anglican archbishop Primate (1980���1...,Paul Reeves,New,13,Zealand Anglican archbishop Primate 1980���19...
7621,62,1949,cancer,11,2011,Zealand politician Member of Parliament for T...,Allan Peachey,New,5,Zealand politician Member of Parliament for T...
7657,63,1948,NaN,11,2011,Zealand Olympic sailor (1976),Gavin Bornholdt,New,2,Zealand Olympic sailor 1976
7827,43,1968,assaulted,12,2011,journalist (BBC Scotland Radio New Zealand),Phillip Cottrell,Scottish,12,journalist BBC Scotland Radio New Zealand
7865,35,1976,adrenocortical carcinoma,12,2011,Zealand race car driver (V8 Supercars),Jason Richards,New,5,Zealand race car driver V8 Supercars
8256,54,1958,leukemia,2,2012,Zealand businessman (Infratil),Lloyd Morrison,New,15,Zealand businessman Infratil
8305,72,1940,cancer,2,2012,Zealand first class cricketer (Canterbury) an...,Peter Sharp,New,1,Zealand first class cricketer Canterbury and ...
...,...,...,...,...,...,...,...,...,...,...
18774,92,1924,NaN,2,2016,Zealand rugby league player (West Coast natio...,Jack Forrest,New,5,Zealand rugby league player West Coast nation...
18828,53,1963,lymphoma,3,2016,Zealand cricketer (national team),Martin Crowe,New,70,Zealand cricketer national team
18924,85,1931,NaN,3,2016,Zealand rugby league player (Auckland nationa...,Sel Belsham,New,6,Zealand rugby league player Auckland national...
18978,85,1931,NaN,3,2016,Zealand rugby league player and coach (West C...,George Menzies,New,9,Zealand rugby league player and coach West Co...
19077,71,1945,cancer,3,2016,Zealand television producer (Police Ten 7 Mel...,Ross Jennings,New,3,Zealand television producer Police Ten 7 Melo...
19093,75,1941,cancer,3,2016,Zealand television presenter and producer (Co...,Frank Torley,New,5,Zealand television presenter and producer Cou...
19233,88,1928,NaN,4,2016,Zealand-born British violinist (Royal Philhar...,Alan Loveday,New,1,Zealandborn British violinist Royal Philharmo...
19239,31,1985,bone cancer,4,2016,Zealand rugby union player (Auckland Blues),Kurtis Haiu,New,3,Zealand rugby union player Auckland Blues
19554,76,1940,NaN,5,2016,Zealand actor (Braindead Sleeping Dogs Charlo...,Ian Watkin,New,2,Zealand actor Braindead Sleeping Dogs Charlot...
19573,72,1944,NaN,5,2016,Zealand rugby league player (Auckland nationa...,Tony Kriletich,New,7,Zealand rugby league player Auckland national...
19664,77,1939,NaN,6,2016,Zealand rugby league player (Auckland nationa...,Brian Reidy,New,3,Zealand rugby league player Auckland national...
19686,81,1935,NaN,6,2016,Zealand rugby league player (Ponsonby nationa...,Bill Snowden,New,5,Zealand rugby league player Ponsonby national...
19772,88,1928,NaN,6,2016,Zealand chemistry academic (University of Auc...,David Hall,New,13,Zealand chemistry academic University of Auck...
19926,79,1937,NaN,7,2016,Zealand rugby union player (Waikato national ...,Rex Pickering,New,6,Zealand rugby union player Waikato national team
20005,87,1929,Alzheimer's disease,7,2016,Zealand rugby union player (Auckland national...,Hallard White,New,3,Zealand rugby union player Auckland national ...
20036,90,1926,NaN,7,2016,Zealand rugby union player (Otago national team),Ray Bell,New,1,Zealand rugby union player Otago national team
20043,70,1946,NaN,7,2016,Zealand English literature academic (Massey U...,Dick Corballis,New,8,Zealand English literature academic Massey Un...
20047,74,1942,NaN,7,2016,Zealand rugby union player (Southland Canterb...,Ray Moreton,New,1,Zealand rugby union player Southland Canterbu...
20155,86,1930,NaN,8,2016,Zealand actor (Monty Python's Life of Brian T...,Terence Bayler,New,3,Zealand actor Monty Pythons Life of Brian Tim...
20311,80,1936,NaN,8,2016,director of the New Zealand Security Intellig...,Don McIver,New,3,director of the New Zealand Security Intellig...
20505,78,1938,NaN,9,2016,Zealand rugby league player (West Coast natio...,Reese Griffiths,New,5,Zealand rugby league player West Coast nation...
20562,83,1933,NaN,9,2016,Zealand rugby league player (West Coast natio...,Arnold Green,New,3,Zealand rugby league player West Coast nation...
20731,89,1927,NaN,10,2016,Zealand rugby league player (Auckland nationa...,Doug Anderson,New,4,Zealand rugby league player Auckland national...
20778,95,1921,NaN,10,2016,Zealand rugby union player (Canterbury nation...,Walter Argus,New,7,Zealand rugby union player Canterbury nationa...
20999,96,1920,NaN,11,2016,editor of New Zealand Woman's Weekly (1952���...,Jean Wishart,New,2,editor of New Zealand Womans Weekly 1952���1985
21033,78,1938,traditional M��ori weaponry expert,11,2016,Zealand rugby league player (Canterbury natio...,Mita Mohi,New,16,Zealand rugby league player Canterbury nation...
21044,65,1951,NaN,11,2016,Zealand rugby union player (North Auckland na...,Mike Burgoyne,New,3,Zealand rugby union player North Auckland nat...
21131,74,1942,NaN,11,2016,Zealand rock singer (Ray Columbus & the Invad...,Ray Columbus,New,8,Zealand rock singer Ray Columbus the Invaders
21284,63,1953,NaN,12,2016,"Zealand singer (""Brandy"")",Bunny Walters,New,20,Zealand singer Brandy
21359,92,1924,NaN,12,2016,Zealand geologist (University of Otago) and c...,Doug Coombs,New,10,Zealand geologist University of Otago and cri...

DH Montgomery's dataset is fine but the Kaggle dataset is not. Since the resulting dataset from Kaggle wasn't produced with a particularly robust parser, maybe it's a better idea to build a custom scraper.

# Write data out

In [29]:
df_wiki.to_csv('../out/cleaned_celeb_deaths_wiki_1.csv', index=False)